*:focus {
  outline: none;
}

#app {
  margin: 0 auto;
  width: 1000px;
  height: 600px;
  background: lightgray;
}

#title {
  text-align: center;
}

#breadcrumb {
  height: 30px;
  background: lightcoral;
  display: flex;
}

#breadcrumb li {
  list-style: none;
  color: blue;
  margin-right: 10px;
}

#choice-btn-wrap {
  background: lightblue;
}

.btn {
  display: block;
  font-size: 20px;
  background: rgba(255,255,255,0.6);
  color: black;
  margin: 10px auto;
  border-radius: 15px;
  font-weight: bold;
  border: none;
  width: 300px;
  height: 60px;
}

.btn:hover {
  background: rgba(255,255,255,0.9);
  border: 1px solid lightgray;
}

.btn:active {
  border: 3px solid lightgray;
}