<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Prodoc</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
      <h2 id="title">{{ slide.title }}</h2>
      <ul id="breadcrumb">
        <li v-for="answer in answeredList">{{ answer.name }}</li>
      </ul>
      <div id="choice-btn-wrap">
        <input v-for="choice in slide.choices"
              class="btn" :class="{ 'btn-big': slide.btnBig }"
              type="button" :value="choice.name" :next="choice.next"
              @click="answer">
      </div>
      <div id="last" v-if="slide.isLast">
        <p v-html="slide.description"></p>
        <a class="btn" :href="slide.link" target="_blank">この教材で学ぶ</a>
      </div>

      <input v-if="slide.isFirst != true"
             class="btn btn-small" type="button"
             value="はじめからやり直す" @click="restart">
    </div>
  
    <!-- script -->
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>